button {

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: 'Graphik-Semibold', Helvetica, Arial, sans-serif;
  font-size: var(--base-font-size);
  color: var(--text--secondary);
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0px;
  background: none;
  font-weight: 500;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;

}