.SimpleSliderCollection__item {
  
  padding: 0 .25rem;
  
}


.HoverSetup__button {
  
  pointer-events: none;
  position: absolute;
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  
}

.HoverPopout {
  
  background: var(--background--secondary);
  transition: transform .35s ease .2s, opacity .35s ease .2s, visibility 0s ease .65s;
  box-shadow: none;
  transform-origin: top;
  transform: scale(1);
  height: calc(100% + 3rem);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 0;
  
  &::after {
    
    content: '';
    transition: opacity .35s cubic-bezier(.99,.17,1,.74);
    box-shadow: 0 24px 88px -8px #333;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    
  }
  
}

.GenericTileThumbnail {
  
  background: rgba(174,180,191,.15);
  position: relative;
  display: block;
  width: 100%;
  
  &__spacer {
    
    padding-bottom: 56.25%;
    width: 100%;
    
  }
  
  &__image {
    
    max-width: calc(100% + 2rem);
    width: calc(100% + 2rem);
    vertical-align: middle;
    filter: blur(1rem);
    margin: -1rem;
    height: auto;
    opacity: .45;
    
  }

  &__image-accent {

    background-image: linear-gradient(60deg, var(--media-accent-color) calc(130px + 4rem), transparent 75%);
    transform: translate3d(-100%, 100%, 0) scale(1);
    transition: transform .35s ease .2s;
    transform-origin: center bottom;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

  }
  
  &__image-container {
    
    transition: transform .35s ease .2s;
    transform-origin: center bottom;
    background-color: var(--gray-1);
    position: absolute;
    overflow: hidden;
    height: auto;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    
  }
  
  &__scrim {
    
    background: linear-gradient(345deg,rgba(30,30,30,.2),transparent 32%);
    transition: transform .35s ease .2s;
    transform-origin: center bottom;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: auto;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    
  }
  
  &__rollover {
    
    transition: opacity .6s ease .2s;
    opacity: 0;

    > .GenericTileThumbnail__image-container {

      background-color: transparent !important;

    }
    
  }
  
  &__rollover,
  &__controls{
    
    
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    
  }
  
  &__badge-container,
  &__controls-container {
    
    transition: transform .35s ease .2s;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    
  }
  
  &__controls {
    
    max-height: 48px;
    max-width: 48px;
    
    transform: translate3d(-50%, -50%, 0);
    
    justify-content: center;
    align-items: center;
    display: flex;
    
    left: 50%;
    top: 50%;
    
  }
  
}

.GenericTileContent {
  
  position: relative;
  padding: 0 2rem 0;
  pointer-events: none;

  &__poster {

    box-shadow: 0 2px 10px 0 var(--black-40);
    width: 130px;
    position: absolute;
    margin-bottom: 1.5rem;
    bottom: 100%;

  }
  
  &__title {
    
    font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
    font-weight: 400;
    left: calc(130px + 2rem);
    letter-spacing: -.5px;
    padding: 0 2rem;
    color: var(--white);
    margin-bottom: 4rem;
    position: absolute;
    bottom: 100%;
    right: 0;
    
  }
  
  &__details {
    
    transition: visibility 0s ease .65s,max-height 0s ease .65s;
    visibility: hidden;
    max-height: 0;
    
    &-item {
      
      transition: opacity .35s ease .2s;
      display: flex;
      opacity: 0;
      
    }
    
  }

  &__metadata {

    font-family: 'Graphik-Medium', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: var(--text--primary);
    font-size: 14px;
    line-height: 20px;
    max-height: 40px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 1px;
    overflow: hidden;
    display: block;
    margin-top: 3rem;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  &__meta {

    display: inline;

    &:not(:last-of-type)::after {

      content: '\A0\A0\2022\A0\A0';

    }

  }
  
  &__description {

    font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
    font-weight: 400;
    
    height: auto;
    line-height: 21px;
    max-height: 63px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: var(--text--secondary);
    margin-bottom: 24px;
    
  }
  
}

.WindowedList {
  
  width: calc(100% + 0.5rem);
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  display: flex;

  // &::before,
  // &::after {

  //   content: '';
  //   background: var(--background--primary);
  //   position: absolute;
  //   z-index: 0;
  //   width: 50%;
  //   bottom: 0;
  //   top: 0;

  // }

  // &::before {

  //   left: -50%;

  // }

  // &::after {

  //   right: -50%;

  // }
  
  .WindowedListItem {
    
    display: inline-block;
    transition: z-index 0s ease .2s;

    max-width: calc(100% / var(--WindowedList-items));
    flex: calc(100% / var(--WindowedList-items));

    white-space: normal;
    vertical-align: top;
    margin-bottom: 3rem;
    z-index: 1;

    @media screen and (min-width: 0px) {

      max-width: calc(100% / 1);
      flex: calc(100% / 1);

    }

    @media screen and (min-width: 800px) {

      max-width: calc(100% / 2);
      flex: calc(100% / 2);

    }

    @media screen and (min-width: 1280px) {

      max-width: calc(100% / 3);
      flex: calc(100% / 3);

    }

    @media screen and (min-width: 1480px) {

      max-width: calc(100% / 4);
      flex: calc(100% / 4);

    }

    &:hover {

      z-index: 100;

    }
    
  }
  
}


.GenericTile {
  
  -webkit-font-smoothing: antialiased;
  
  padding-bottom: calc(56.25% + 4em);
  position: relative;
  height: 0;
  
  &__container {
    
    transition: z-index .35s ease;
    transition-delay: .2s;
    position: relative;
    z-index: 0;
    
    &:hover {
      
      z-index: 100;
      
      .HoverPopout {
        
        transition: transform .35s ease .2s,opacity .35s ease .2s;
        transform: scaleX(1.1);
        visibility: visible;
        opacity: 1;
        
        &::after {
          
          opacity: 1;
          
        }
        
      }
      
      .GenericTileThumbnail__image-container {
        
        transform: scale(1.1);
        border: none;
        
      }

      .GenericTileThumbnail__image-accent {

        transform: translate3d(0, 0, 0) scale(1.5);

      }
      
      .GenericTileThumbnail__scrim {
        
        transform: scale(1.1);
        
      }
      
      .GenericTileThumbnail__rollover {
        
        opacity: 1;
        
      }

      .GenericTileContent__extras {

        display: block;

      }
      
      .GenericTileContent__details {
        
        max-height: 1000px;
        visibility: visible;
        transition: none;
        
      }
      
      .GenericTileContent__details-item {
        
        opacity: 1;
        
      }
      
      .GenericTileContent__description {
        
        opacity: 1;
        
      }
      
    }
    
  }
  
}