:root {

  // STOLEN FROM HULU

  --white: #fff;
  --white--97: hsla(0,0%,100%,.97);
  --white--30: hsla(0,0%,100%,.3);
  --black: #040405;
  --gray-1: #292c33;
  --gray-1--35: rgba(41,44,51,.35);
  --gray-2: #6b7790;
  --gray-2--25: rgba(107,119,144,.25);
  --gray-4: #b8becc;
  --gray-5: #dcdfe6;
  --gray-5--70: rgba(220,223,230,.7);
  --gray-5--30: rgba(220,223,230,.3);
  --gray-6: #ebedf2;
  --gray-6--50: rgba(235,237,242,.5);
  --gray-7: #f7f8fa;
  --faux-black: #040405;
  --faux-black--60: rgba(4,4,5,.6);
  --red: #de1b4b;
  --nm-gray-1: #121417;
  --nm-gray-2: #1e2126;
  --nm-gray-3: #24272e;
  --nm-gray-4: #2e3138;
  --nm-gray-5: #909296;
  
  --background--primary: #272D3A;
  --background--secondary: #373F51;
  --background--nav: var(--white--97);
  --background--nav-dropdown: var(--white--97);
  --background--details-dropdown: var(--white);
  --background--details-dropdown-selected: var(--gray-7);
  --background--icon: var(--white);
  --background--generic-tile: var(--white);
  --background--dvr-tile: var(--gray-6);
  --background--my-stuff-footer: var(--gray-7);
  --text--primary: #FFFFFF;
  --text--secondary: var(--gray-2);
  --text--alternate: var(--gray-2);
  --accent--light: var(--gray-6);
  --accent--dark: var(--gray-6);
  --accent--nav: var(--gray-6--50);
  --accent--nav-dark: var(--faux-black);
  --button--light: var(--gray-4);
  --button--recording: var(--red);
  --shadow--light: var(--gray-1--35);
  --shadow--dark: var(--black);
  --backdrop--modal: rgba(41,44,51,.9);
  --status-bar: var(--gray-5--70);
  --status-bar--details: var(--gray-5--30);
  --progress-bar-gray: #868d9b;
  --green: #30e587;
  --live-guide-border: var(--gray-6);
  --live-guide-cell: var(--white);
  --live-guide-cell--gray: var(--gray-7);
  --live-guide-cell--hover: var(--gray-6);
  --live-guide-channel-logo: var(--gray-1);
  --live-guide-channel-logo--hover: var(--gray-1);
  --live-guide-text: rgba(41,44,51,.7);
  --live-guide-text--hover: var(--gray-1);
  --live-guide-recording: var(--gray-1);
  --black-20: rgba(0,0,0,.2);

}