extends ../layout/header

block content
  link(rel='stylesheet' href='/dist/css/pages/collections.css')
  main(class='collections')
    div(class='container')
      each collections, library in plex.collections
        each collection in collections
          h1= collection.title
          div(class='WindowedList slick-init' style='--WindowedList-items: 4;')
            each item in collection.media
              -var media = plex.libraries[library].media[item]

              div(class='WindowedListItem')
                div(class='SimpleSliderCollection__item')
                  div(class='GenericTile')
                    div(class='HoverSetup GenericTile__container')
                      button(class='HoverSetup__button' aria-label=`${media.title}`)
                      div
                        div(class='HoverPopout')
                        a(href=`\/${library}\/${media.slug}\/` class='GenericTileThumbnail cu-generictile-thumbnail GenericTileThumbnail--with-hover')
                          div
                            div(class='GenericTileThumbnail__spacer')
                            div(class='GenericTileThumbnail__image-container')
                              div(class='GenericTileThumbnail__image-accent' style=`--media-accent-color: ${media.color}`)
                              img(class='GenericTileThumbnail__image' src=`${media.banner.small}`)
                            div(class='GenericTileThumbnail__scrim')
                            div(class='GenericTileThumbnail__rollover')
                              div(class='GenericTileThumbnail__image-container')
                              div(class='GenericTileThumbnail__controls-container')
                                div(class='GenericTileThumbnail__controls')

                        div(class='GenericTileContent')

                          img(class='GenericTileContent__poster' src=`${media.poster}`)

                          h3(class='GenericTileContent__title')= media.title

                          div(class='GenericTileContent__details')
                          
                            ul(class='GenericTileContent__details-item GenericTileContent__metadata')
                              li(class='GenericTileContent__meta')= media.contentRating
                              li(class='GenericTileContent__meta')
                                each Genre, GenreKey in media.Genre
                                  = GenreKey < Object.keys(media.Genre).length - 1 ? `${Genre.tag}, ` : `${Genre.tag}`
                              li(class='GenericTileContent__meta')= media.year

                            p(class='GenericTileContent__details-item GenericTileContent__description')= media.summary


          