extends ../layout/header

block content
  style.
    :root { --media-accent-color: #{media.color}; }
  link(rel='stylesheet' href='/dist/css/pages/watch.css')
  main(class='watch')

    div(class='container')
      div(class='media-container')
        div(class='media-splash')
          div(class='media-splash-banner' style=`background-image:url('${media.banner.large}')`)
        div(class='media-splash-content')
          img(class='media-splash-content-poster' src=`${media.poster}`)
          div(class='media-splash-content-details')
            h1= media.title
            div(class='media-details-snippet')
              span= media.contentRating
              span
                each Genre, GenreKey in media.Genre
                  = GenreKey < Object.keys(media.Genre).length - 1 ? `${Genre.tag}, ` : `${Genre.tag}`
              span= media.year
            p= media.summary
            div(class='media-splash-content-actions')
              button(class='play-media')
                include ../svg/action-play.svg
                span Watch Movie

    div(class='container')
      div(class='media-content')
        nav(class='media-content-tabs')
          button(class='active') Related Movies
          button Details

      p= JSON.stringify(media)