@font-face {
  font-family: 'Graphik-Light';
  src: url('../../../fonts/Graphik-Light-Web.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url('../../../fonts/Graphik-Regular-Web.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url('../../../fonts/Graphik-Medium-Web.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url('../../../fonts/Graphik-Semibold-Web.woff2') format('woff2');
  font-weight: 600;
}