include ../includes/meta

header(class='header')
  div(class='container')
    div(class='header-container')

      div(class='header-item')
        a(href='/' class='header-link')
            include ../svg/nav-brand.svg

      div(class='header-menu')
        div(class='header-item')
          button(type='button' class='header-link')
            include ../svg/nav-discover.svg
            span(class='header-label') Discover
        div(class='header-dropdown')
          div(class='container')
            div(class='header-dropdown-container')
              div(class='header-dropdown-items')
                ul(class='header-dropdown-browse-hubs')
                  li(class='header-dropdown-browse-hubs-item')
                    a(href='/recently-added/' class='header-dropdown-item') Recently Added
                  li(class='header-dropdown-browse-hubs-item')
                    a(href='/collections/' class='header-dropdown-item') Collections
                  each library in plex.libraries
                    li(class='header-dropdown-browse-hubs-item')
                      a(href=`\/${library.slug}\/` class='header-dropdown-item')= library.title

                ul(class='header-dropdown-browse-genres')
                  each genre in plex.genres
                    li(class='header-dropdown-browse-genres-item')
                      a(href=`\/genre\/${genre.slug}\/` class='header-dropdown-item')= genre.title
          
      div(class='header-item')
        a(href='/on-deck/' class='header-link')
          include ../svg/nav-deck.svg
          span(class='header-label') On Deck

sindistrict
  block content