.header {

  font-family: 'Graphik-Semibold', Helvetica, Arial, sans-serif;
  transition: background-color .75s ease, box-shadow .75s ease;
  background-color: var(--background--primary);
  box-shadow: 0 1px 0 0 var(--accent--nav);
  font-size: var(--base-font-size);
  height: var(--header-height);
  color: var(--text--primary);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: sticky;
  z-index: 1000;
  top: 0;

  svg.stroke {

    stroke: currentColor;

  }

  &-container {

    height: var(--header-height);
    align-content: stretch;
    display: flex;

    > div:first-child {

      margin-left: -20px;

    }

    >div:last-child {

      margin-right: -20px;

    }

  }

  &-item,
  &-link,
  &-menu {

    display: flex;

  }

  &-separator {

    flex: 1;

  }

  &-item {

    &:hover,
    &:focus {

      + .header-dropdown {

        visibility: visible !important;
        transition: none !important;
  
        .header-dropdown-container {
  
          transition: max-height .3s ease-in !important;
          max-height: 800px !important;
  
        }
  
      }

    }

  }

  &-menu {

  }

  &-link,
  &-label {

    text-transform: uppercase;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;

  }

  &-link {

    height: var(--header-height);
    letter-spacing: normal;
    align-self: stretch;
    align-items: center;
    color: currentColor;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    width: 100%;

    &::after {

      content: '';
      position: absolute;
      margin: 0 20px;
      display: block;
      bottom: 0;
      right: 0;
      left: 0;

    }

  }

  &-label {

    margin-left: 12px;

  }

  &-dropdown {

    transition: visibility 0s ease-out .3s;
    top: var(--header-height);
    position: absolute;
    visibility: hidden;
    width: 100%;
    left: 0;

    &:hover,
    &:focus-within {

      visibility: visible !important;
      transition: none !important;

      .header-dropdown-container {

        transition: max-height .3s ease-in !important;
        max-height: 800px !important;

      }

    }

    &-container {

      box-shadow: 0 24px 88px -8px var(--shadow--light);
      background-color: var(--background--primary);
      border-top: 1px solid var(--accent--light);
      transition: max-height .3s ease-out;
      overflow: hidden;
      max-height: 0;

    }

    &-items {

      padding: 40px 100px;
      display: flex;
      height: 100%;

    }

    &-item {

      border-bottom: 2px solid transparent;
      color: var(--text--primary);
      display: inline-block;
      line-height: 18px;
      max-width: 156px;
      font-size: 14px;
      width: auto;

    }

    &-browse-hubs {

      padding: 0 50px 0 0;

      &-item {

        font-family: 'Graphik-Semibold', Helvetica, Arial, sans-serif;
        list-style-type: none;
        padding-bottom: 17px;
        line-height: 15px;
        font-weight: 500;
        width: 140px;

      }

    }

    &-browse-genres {

      border-left: 1px solid var(--accent--dark);
      text-transform: none;
      padding: 0 0 0 50px;
      max-width: 1000px;
      column-count: 4;

      &-item {

        font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
        list-style-type: none;
        display: inline-block;
        font-weight: 400;
        height: 32px;
        width: 100%;

      }

    }

  }

}
